// Specific CSS for your home-page
.container {
  text-align: center;
}

.layout {
  min-height: 100vh;
}

.banner {
  height: 900px;
  background-image: url("serre-banner.png");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

.text-position {
  position: absolute;
  top: 290px;
  left: 100px;
}

h1 {
  font-size: 55px;
}

.text-position p {
  font-size: 20px;
}

#flexbox {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  padding-bottom: 60px;
}

.card {
  border: transparent;
}
