.answer-icon {
  width: 150px;
  border-radius: 10px;
  margin:10px;
}

.question {
  padding: 40px;
  height: 100vh;
  width: 100%;
}

.hidden-radio {
  display: none;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

.pointer {
  cursor: pointer;
}

.span i {
font-family: Nunito;
}

.scroll-to {
  text-decoration: none;
}

// Style when you select a button

.question input[type="radio"]:checked+label {
  border-radius: 4px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.10), -5px -5px 30px 7px rgba(0,0,0,0.10);
}

// Progress Bar CSS on the form page

.progress-container {
  position: fixed;
  bottom: 150px;
  width: 30%;
  height: 10px;
  background: #DCE29F;
  border-radius: 4px;
}

.progress-bar {
  height: 10px;
  background: #014034;
  width: 0%;
  border-radius: 4px;
}


// Up Arrow

/* Arrow Bouncing */
  .container-arrow span {
    display: inline-block;
    font-size: 50px;
    animation: .7s down  infinite alternate; -webkit-animation: .7s down infinite alternate;
    color: #014034;
  }

.fa-angle-up:before {
    content: "\f106";
    color: #014034;
    font-size: 40px;
}

/***Animation Arrow down***/
    @keyframes down{
      0%{transform:translateY(0px)}
      100%{transform:translateY(20px)}
    }

    @-webkit-keyframes down{
      0%{-webkit-transform:translateY(0px)}
      100%{-webkit-transform:translateY(20px)}
    }
