<div class="flex-container">
  <div class="card-plant-details">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-plant-details-infos">
      <h2>Arrosage</h2>
      <h2>Exposition</h2>
      <h2>Nos conseils</h2>
      <p>Paragraphe à remplir sur nos conseils</p>
    </div>
  </div>
</div>
