<div class="cards-plant">

  <div class="card-plant">
    <div class="card-plant_image"> <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> </div>
    <div class="card-plant_title title-white">
      <p>Plant</p>
    </div>
  </div>

</div>