<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Gaudou/VAN_THE_ROAD" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/molki_supreme/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/lewagonfrance/" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/lewagonlille?lang=fr" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/school/le-wagon/?originalSubdomain=fr" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <i class="fas fa-leaf" style="color:#014034"></i> Good Garden - © 2021  <i class="fas fa-heart" style="color:#014034"></i> @ Le Wagon Lille
  </div>
</div>
