<div class="border-top">

<div class="container">
    <div class="footer">
      <div class="footer-links">

      <a href="https://github.com/marouria/GOOD_GARDEN" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.instagram.com/explore/tags/balconygarden/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.linkedin.com/school/le-wagon/?originalSubdomain=fr" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://www.tomlejardinier.com/presentation" target="_blank"><i class="fas fa-seedling"></i></a>
    </div>
    <div class="footer-copyright">
    <i class="fas fa-leaf" style="color:#014034"></i> Good Garden - © 2021 - Le Wagon Lille #625
    </div>
    </div>
  </div>




<!--
<div class="container ">
  <div class="footer">
    <div class="footer-links">
      <a href="https://github.com/marouria/GOOD_GARDEN" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.instagram.com/explore/tags/balconygarden/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.linkedin.com/school/le-wagon/?originalSubdomain=fr" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      <i class="fas fa-leaf" style="color:#014034"></i> Good Garden - © 2021 - Le Wagon Lille #625
    </div>
  </div>
</div> -->
