<div class="full-screen" id="home-background">
  <p>Marre de laisser mourir tes plantes ? Tu ne sais pas par où commencer ton jardin ?</p>
  <h1>Deviens le jardinier dont <br> tu as toujours rêvé</h1>
  <%= link_to 'Jardinons', preferences_path, class: "active-button" %>
</div>

