<div class="banner">
  <div class="text-position">
    <p>Marre de laisser mourir tes plantes ? Tu ne sais pas par où commencer ton jardin ?</p>
    <h1>Deviens le jardinier dont <br> tu as toujours rêvé</h1>
    <br>
    <%= link_to 'Jardinons', preferences_path, class: "active-button" %>
  </div>
</div>

<div class="container">
  <p>suite de la home page</p>
</div>
