<div class="container cards">
  <h1>Toutes nos plantes</h1>
  <% @plants.each do |plant| %>
  <div class="cards-plant">
    <div class="card-plant">
      <div class="card-plant_image"> <img src="<%= plant.img_url %>" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))"/> </div>
        <div class="card-plant_title title-color">
          <h4><%= plant.name %></h4>
        </div>
    </div>
  </div>
  <% end %>
</div>

<% console %>

