<h1 class="text-center mb-5">Toutes nos plantes</h1>

<div class="container">
  <div class="cards">
    <% @plants.each do |plant| %>
    <%= link_to plant_path(plant), class: "text-decoration-none text-dark" do %>
    <div class="card-trip">
      <img src="<%= plant.img_url %>" />
      <div class="card-trip-infos">
        <div>
          <p style="font-size: inherit;"><%= plant.name %></p>
          <!-- <p>Short description here!</p> -->
        </div>
        <p style="font-size: inherit;", class="card-trip-pricing"><%= plant.price %> €</p>
        <!-- <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> -->
      </div>
    </div>
    <% end %>
     <% end %>
  </div>
</div>



