<div class="container">
  <h1>Mon jardin</h1>
  <% @kits_user.each do |kit_user| %>
    <div class="cards-plant">
      <div class="card-plant">
        <% kit_user.plants.each do |plant|%>
          <div class="card-plant_image"><%= image_tag "#{plant.img_url}", size:"50" %></div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>