<div class="flexbox">
  <div class="dashboard-container d-flex">
    <div class="garden">
      <h1 class="text-center">Mon jardin</h1>
      <% @kits_user.each do |kit_user| %>
        <div class="card-garden">
          <% kit_user.plants.each do |plant|%>
          <div data-plant= <%= plant.name %> data-watering= <%= plant.watering %> data-sunshine= <%= plant.sunshine_rate %> class="plant-garden" style="background-image: url(<%= plant.img_url %>);"></div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div id= "general-advise" class="conseil text-center">
      <h2>Nos conseils généraux</h2>
      <div class="advises">
        <div class="advice">
          <i class="fas fa-seedling"></i>
          <p>Pensez à arroser vos plantes régulièrement</p>
        </div>
        <div class="advice">
          <i class="fas fa-seedling"></i>
          <p>Apportez leur de l'amour</p>
        </div>
        <div class="advice">
          <i class="fas fa-seedling"></i>
          <p>Leur lumière c'est vous</p>
        </div>
        <div class="advice">
          <i class="fas fa-seedling"></i>
          <p>Dans la vie, parfois il faut se planter</p>
        </div>
      </div>
    </div>


    <div id="specific-advise" class="conseil text-center">
      <h2 id="plant-name"></h2>
      <div class="advises">
        <p id="plant-watering"></p>
        <p id="plant-sunshine"></p>
        <p>Nos conseils</p>
      </div>
    </div>


  </div>
</div>
