
.carousel-resizing {
  width: 400px;
}


#padding-top {
  padding-top: 50px;
  padding-bottom: 40px;

}

.good-style {
    padding: 8px 24px;
    border-radius: 4px;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
}


.backgroung-gardener {
  background-color: #f4f4f4;
}


.icon-style {
  width: 100px;
}
.card-icons {
  align-items: center;
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
