.conseil {
  background-color: #DCE29F;
  height: 100vh;
  position: sticky;
  top: 0;
  padding: 40px;
  width: 400px;
}

.conseil h2 {
  margin-bottom: 50px;
}

.conseil p {
  text-align: left;
  margin: 0;
}

.flexbox {
  display: flex;
}

.dashboard-container{
  width: 100%;
}

.garden {
  flex-grow: 1;
  width: 70%;
}

.garden h1 {
  margin-bottom: 50px;
}

#specific-advice {
  display: none;
  width: 400px;
}

.advises {
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-around;
}

.fa-seedling {
  padding: 10px;
}

.advice {
  display: flex;
  align-items: center;
}

.fas {
  padding: 5px;
}

.advice-display {
  display: none;
}

.plant-garden {
  margin: auto;
  cursor: pointer;
}

.kit-container {
  width: 900px;
  margin: auto;
}

.icons-advice {
  width: 70px;
  padding: 15px;
}

.plant-selection {
  width: 250px;
  height: 250px;
}

#specific-advise p {
  text-align: left;
}

#specific-advise img {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  margin-bottom: 25px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kit-infos {
  display: flex;
  justify-content: space-around;
}

.kit-infos p {
  margin: 0;
  font-size: 20px;
}

#plant-description {
  text-align: justify !important;
}
