#results  {
  cursor: grab;
}

#results :active {
  cursor: grabbing;
}

#results.ghost {
  filter: grayscale(1);
  opacity: 0.5;
}


#selection  {
  background-color: #343434;
  min-height: 50vh;
  padding: 100px;
  border-radius: 4px;
  width: 600px;
}


.column {
  float: left;
  width: 50%;
}

.left {
  margin-left: 60px;
}
